<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{model.cityName}}</mat-card-title>
            <mat-card-subtitle>{{model.description}}</mat-card-subtitle>
            <img mat-card-md-image src="{{model.imageUrl}}" />
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>Temp (Deg C): {{model.temp}}</p>
        <br>
        <p>Humidity: {{model.humidity}}</p>
        <br>
        <p>Pressure: {{model.pressure}}</p>
        <br>
        <p>Wind Degree: {{model.windDegree}}</p>
        <br>
        <p>Wind Speed: {{model.windSpeed}}</p>
        <br>
    </mat-card-content>
</mat-card>
